{% extends "base.html" %}

    {% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <h3><b>Hier das Wetter vor Ort</b></h3>
                <hr>
                <div class="tale-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Temperatur</th>
                                <th>Höhenmeter</th>
                                <th>Luftdruck</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{data.cTemp}} Grad Celcius</td>
                                <td>{{data.altitude}} Meter</td>
                                <td>{{data.pressure}} kPa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h2 class="text-info">Wettersuche</h2>
                <hr>
                <div class="well">Bitte Tragen sie den Ort ein und drücken Sie Enter um das Wetter anzuzeigen</div>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="openweather">Ort:</label>
                        <input type="text", class="form-control" id="openweather" placeholder="Ort" name="openweather">
                    </div>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Enter</button>
                </form>
                <br>
                <p>City: <b>{{API.city}}</b></p>
                <p>{{API.description}} | {{API.temperature}}&#8451;</p>                 
            </div>

            <div class="col-sm-6">
                <h3><b>Wetter Bayerischer Rundfunk</b></h3>
                <br>
                <div class="list-group">
                    <a href="{{link.Unterfranken}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Unterfranken}}</p>
                    </a>
                    <hr>
          
                    <a href="{{link.Mittelfranken}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Mittelfranken}}</p>
                    </a>
                    <hr>

                    <a href="{{link.Oberfranken}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Oberfranken}}</p>
                    </a>
                    <hr>

                    <a href="{{link.Niederbayern}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Niederbayern}}</p>
                    </a>
                    <hr>

                    <a href="{{link.Oberbayern}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Oberbayern}}</p>
                    </a>
                    <hr>

                    <a href="{{link.Schwaben}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Schwaben}}</p>
                    </a>
                    <hr>

                    <a href="{{link.Oberpfalz}}"> 
                    <h4 class="list-group-item-heading"></h4>
                    <p class="list-group-item-text">{{main.Oberpfalz}}</p>
                    </a>
                </div>
                
            </div>
        </div>   
    </div>
    {% endblock %}




